body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.board-b72b1 {
    border: 2px solid #404040;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}

#loadpgn {

}

#header {
    flex-direction: row;
}

#footer {

}

#board-container {
    padding: 10px;
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
}

a {
  color: #00B7FF;
}

/* Source: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.controlcontainer {
    flex-direction: column;
    height: 50px;
    width: 100%; /* Width of the outside container */
    display: inline-block;
}

.controlbutton {
    align-content: center;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
